**
!composer.json
!composer.lock
!README.md
!bin/
!bin/**
!config/
!config/**
!database/
!database/**
!docker/
!docker/**
!public/
!public/**
!src/
!src/**
!templates/
!templates/**
!tests/
!tests/**
